* { box-sizing: border-box;}
/* * { outline: 1px solid red;} */

:root {
  --color-main-bg: black;
  --color-main-text: white;
  --color-accent: blue;
}

body {
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  font-family: 'Montserrat', sans-serif;
}



header {
  width: 100vw;
  text-align: center;
  height: 10vh;
  z-index: 100;
}

header a {
  text-decoration: none;
}

#header-title {
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
}

#header-title > a {
  color: var(--color-main-text);
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  font-family: 'Titan One', cursive;
  color: var(--color-accent);
}

nav a:hover {
  border-bottom: 5px solid var(--color-accent);
  margin-bottom: -5px;
}



main {
  width: min(1200px, 80%);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

main > section {
  min-height: 90vh;
  max-width: 100%;
  margin-bottom: 10vh;
}

section > h1 {
  color: var(--color-accent);
  font-size: 1.5rem;
}



#home {
  height: 90vh;
  margin-top: 15vh;
  vertical-align: middle;
  font-size: 2rem;
  position: relative;
}

#home h1,
#home h3,
#home h5 {
  margin: 5px 0;
  line-height: 1.2em;
}

#main-title {
  color: var(--color-accent);
}

#home p {
  position: absolute;
  bottom: 2em;

  width: 100%;

  font-size: 0.3em;
  text-align: center;
}

#home p span {
  font-size: 2em;
}



#about {
  width: 100%;
  font-size: 0.5em;
}

#technologies {
  width: fit-content;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.technology {
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 500;

  display: flex;
  align-items: flex-start;
}

.technology > svg {
  height: 50px;
  display: none;
}

/* .technology:hover {
  transform: scale(1.1);
} */

#education {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  width: fit-content;
}


@media screen and (min-width: 768px) {

  #home {
    margin-top: 5vh;
    font-size: 1.5rem;
  }

  #home {
    bottom: 50px;
    font-size: 2em;
  }

  #technologies {
    flex-flow: row nowrap;
  }

  section > h1 {
    font-size: 2rem;
  }

  header {
    height: 8vh;
  }

  #home h1,
  #home h3,
  #home h5 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1224px) {
  
  #technologies:hover {
    height: 150 px;
    align-items: flex-start;
  }

  #technologies:hover > .h-2 { height: 50px;}
  #technologies:hover > .h-3 { height: 75px;}
  #technologies:hover > .h-4 { height: 100px;}
  #technologies:hover > .h-5 { height: 125px;}
  
}



.card {
  background-color: #fefefe;
  color: black;
  
  padding: 1em;
  border-radius: 0.5em;

  box-shadow: 5px 5px #cdcdcd;
}

.card:hover {
  transform: scale(1.1);
}

.card-text svg {
  height: 1em;
  width: auto;
}